body{

    font-family: sans-serif;
    font-size: 16px;
}

header{
    background-image: linear-gradient(90deg,#19398a 12%,#1b4c92 50%,#19398a 89%);
}
header a{
    
    display: block;
    width: 100%;
    height: 80px;
    background-image: url("assets/sprite.png") ;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center left;

}


#loading{

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180eg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
    
  }

#grid{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 10px;
    row-gap: 40px;
    margin: 50px 80px 50px 50px;
    text-align: center;

}


#chennai-super-kings{
    background: linear-gradient(136deg,#fdb913,#f85c00);

}

#delhi-capitals{
    background: linear-gradient(136deg,#004c93,#0358a7);
    
    
}

#kings-xi-punjab{
    background: linear-gradient(136deg,#aa4545,#740f0b);
}

#kolkata-knight-riders{
    background: linear-gradient(136deg,#70458f,#3d2057);
}

#mumbai-indians{
    background: linear-gradient(136deg,#005da0,#003a63);
}

#rajasthan-royals{
    background: linear-gradient(136deg,#2d4d9d,#172e5e);
}

#royal-challengers-bangalore{
    background: linear-gradient(136deg,#000,#464646);
}

#sunrisers-hyderabad{
    background: linear-gradient(136deg,#fb643e,#b81c25);
}

.team_card{

    border-radius: 10px;
    opacity: 0.95;
    padding-bottom: 15px;
    text-align: center;
}


#team_data{

    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
}


#team_name, #stadium, #team_home{
    color: white;
}

#team_logo{

    position: relative;
    bottom: 20px;
    width: 45%;
}


#winning_years{

    color: #e2d612;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    font-size: 1em;
}

#stadium{

    font-size: 0.8em;
}

#team_name{

    font-size: 1.6em;
    margin: 0px auto;
}

#team_home{

    font-weight: 800;
    font-size: 0.85em;
    text-decoration: none;
    margin: 10px 0px;
  
}

.arrowP{

    text-decoration: none;
   display: none;
}



/* For tablets */


@media only screen and (max-width: 1600px) {

    .team_card{

        padding-left: 4px;
        padding-right:4px;
    }
    body{

        font-size: 13px;
    }

    #winning_years{

        padding: px;
    }

    #grid{

        grid-template-columns: 25% 25% 25% 25%;
    
    }
}


@media only screen and (max-width: 1350px) {

    .team_card{

        padding-left: 4px;
        padding-right:4px;
    }
    body{

        font-size: 12px;
    }

    #winning_years{

        padding: 8px;
    }

    #grid{

        grid-template-columns: 33.33% 33.33% 33.33%;
    
    }
}

@media only screen and (max-width: 1220px) {

    .team_card{

        padding-left: 2px;
        padding-right:2px;
    }

    body{

        font-size: 10px;
    }

    #winning_years{

        padding: 7px;
    }
}


@media only screen and (max-width: 1100px) {


    body{

        font-size: 9px;
    }

    #winning_years{

        padding: 6px;
    }

    #grid{

        grid-template-columns: 50% 50%;
    
    }
}

@media only screen and (max-width: 1000px) {


    body{

        font-size: 8px;
    }

    #winning_years{

        padding: 5px;
    }
}



@media only screen and (max-width: 900px) {

    #winning_years{

        padding: 2px;
    }

    
    body{

        font-size: 6px;
    }

    #team_home{
        margin: 7px 0px;
      
    }
}

@media only screen and (max-width: 800px) {

    body{
        font-size: 5px;
    }
    #winning_years{

        padding: 2px;
    }

    #team_home{
        margin: 5px 0px;
      
    }
}




/* For mobile */

@media only screen and (max-width: 640px) {

   
    body{

        font-size: 9px;
    }

   
    header a{
        height: 50px;
    }

    #grid{
      
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
        margin: 50px 10px 50px;
        
    }

    
    .team_card{

        height: 70px;
        display: grid;
        grid-template-columns: 70px 30fr 3fr;
        margin: 0px;
        padding: 0px;
    }
        
    #team_data{
        
        height: 100%;
        display: initial;
        text-align: left;
        padding: 10px 0px;
        
    }

    #stadium, #team_home{

        display: none;
    }

    #logo_div{
    
        margin: 0px;
        height: inherit;
    }

    #team_logo{

       all: initial;
       
    }

    #team_logo{

        height: 80%;
        width: 80%;
        margin: 10% 0px;
        position: inherit;
     }

    .arrowP{

        display: inline;
        color: white;
        font-size: 2em;
        padding: 25px 0px;
        margin: 0px;
        vertical-align: auto;
        background-color: hsla(0,0%,7%,.2);
    }

    #winning_years{

        margin: 7px;
        padding: 6px 8px;
        border-radius: 10px;
        font-size: 1.3em;
    }

    #team_name{

        margin-left: 10px;
        font-size: 1.3em;
    }

    
}